---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "footer";

$primary-color: #BE1E2D;

html {
    font-size: 16px;
}

.card-link, .card-link:hover, .card-link:focus {
    text-decoration: none;
    color: #555;
}

.card img {
    width:100%;
}

.post img {
    max-width: 100%;
}

html {
  position: relative;
  min-height: 100%;
}

.page .section {
    text-align: left;
}

.page h2 {
    margin-bottom:1rem;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    color:#333333;
}
body {
    line-height: 1.5;
    color: #373a3c;
    background-color: #fff;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

body button {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.card {
    margin-bottom: .75rem;
}

.page .card:hover {
    cursor: pointer;
}
.masthead {
    position: relative;
    padding: 4rem 15px 2rem;
    color: #cdbfe3;
    text-align: center;
    background-image: url(/img/pottersbury.jpg);
    background-size: cover;
    background-position: center center;
}

.masthead .lead {
    margin-right: auto;
    margin-bottom: 2rem;
    margin-left: auto;
    font-size: 1.9rem;
    color: #fff;
}

.btn {
    font-weight: 500;
    color: $primary-color;
    border-color: $primary-color;
}

.btn-bs:hover, .btn-bs:focus, .btn-bs:active {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
    cursor: pointer;
}

.purple {
    color: $primary-color;
    display: block;
    margin: auto;
}

.grey {
    color:#555555;
}

#fade-quote-carousel a p {
    color: #373a3c;
}

#fade-quote-carousel a:hover {
    text-decoration: none;
}

#fade-quote-carousel.carousel {
    padding-bottom: 60px;
}

span.star.filled:before {
    color: #f7dd6d;
    content: "\f005";
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 30px;
    text-align: center;
    display: block;
}

.rating span.star {
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
}

.navbar-toggler-right {
    right: 0em;
    top: 1.2em;
}

.navbar-nav .nav-link.active, .bd-navbar .navbar-nav .nav-link:hover, .bd-navbar .navbar-nav .nav-link:focus {
    color: #373a3c;
    background-color: transparent;
}

.navbar-nav .nav-link.active {
    font-weight: 500;
    color: #121314;
}

.navbar {
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
}

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #eee;
}

.section-title {
    margin-bottom: .5rem;
    font-size: 2rem;
    font-weight: normal;
    color: #333;
    text-align: center;
}

.section .lead {
    margin-right: auto;
    margin-bottom: 2rem;
    margin-left: auto;
    font-size: 1rem;
    text-align: center;
}

.section h4 {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-weight: normal;
    color: #333;
}

.post-title {

margin-bottom:0.0em !important;
}

.post-title a {
    color: #BE1E2D;
}

.ekko-lightbox-nav-overlay a:hover, .ekko-lightbox-nav-overlay a:active, .ekko-lightbox-nav-overlay a:focus {
    color: #ffffff;
}

@media (min-width: 768px) {
    .masthead {
        padding: 6rem 15px 4rem;
    }
    .masthead .lead {
        font-size: 2.5em;
    }
    .section {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .section .col-sm-6:last-child {
        padding-left: 45px;
    }

    .section .lead {
        font-size: 1.5rem;
        max-width: 80%;
    }

    .section-title {
        font-size: 2.5rem;
    }
    .navbar-toggleable-sm .navbar-collapse {
        align-items: center;
    }

}

@media (min-width: 992px) {

    .masthead {
        padding: 8rem 15px 6rem;
    }
    .masthead .lead {
        width: 85%;
        font-size: 4rem;
    }
    .modal-lg {
        max-width: 1100px;
    }
}
