<footer class="footer text-muted">
    <div class="container">
        <p>The Building Company, Winslow, MK18 3JL, United Kingdom.</p>
        <p><b><a href="mailto:hello@thebuildingcompany.co" class="grey">hello@thebuildingcompany.co</a></b></p>
        <p><b>01296 712297</b></p>
        <a href="https://plus.google.com/+TheBuildingCompanyUk">
            <span class="fa-stack fa-lg grey">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        
    </div>
</footer>
<div class="location-links">
    <ul>
        <li><a href="https://propertywisdom.io" target="_blank">Property Investment Data</a></li>
        <li><a href="/services/">Extensions Milton Keynes</a></li>
        <li><a href="/builders-milton-keynes/">Builder Milton Keynes</a></li>
    </ul>
</div>
<p class="copyright">Copyright © 2017 The Building Company.</p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

{% if page.lightbox %}
<script src="/js/app.js"></script>

<script src="/js/ekko-lightbox.min.js"></script>
{% endif %}
