<!--footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 mb-3">
                <h4>Location</h4>
                <p>The Building Company, Winslow, MK18 3JH, United Kingdom.</p>
                <a href="#">
                    <span class="fa-stack fa-lg purple">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </div>
            <div class="col-sm-4 mb-3">
                <h4>Contact</h4>
                
                <p><a href="mailto:hello@thebuildingcompany.co" style="color: #7952b3;">hello@thebuildingcompany.co</a></p>
                <p>01296 712297</p>

            </div>
            <div class="col-sm-4 mb-3">
                <h4>Accreditations</h4>
                <div class="col-10 offset-1 col-lg-8 offset-lg-2 ">
<img src="/img/accreditations.png" class="img-fluid" style="    text-align: center;
    margin: auto;
    display: block;
   
}"/>
   </div>
            </div>
                     
        </div>
  </div>

</footer-->

    <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body modal-lg">
                <img class="img-responsive img-fluid" src="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-bs" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<footer class="footer text-muted">
    <div class="container">
 <p>The Building Company, Winslow, MK18 3JH, United Kingdom.</p>
 <p><b><a href="mailto:hello@thebuildingcompany.co" class="grey">hello@thebuildingcompany.co</a></b></p>
                <p><b>01296 712297</b></p>
                       <a href="#">
                    <span class="fa-stack fa-lg grey">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
        

  
    </div>
</footer>
         <p class="copyright">Copyright © 2017 The Building Company.</p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
         <script src="/js/app.js"></script>
