<div class="container">
    <nav class="navbar navbar-toggleable-sm navbar-light">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
   

   <a class="navbar-brand" href="/"> 
   <img src="/img/the-building-company.png" alt="The Building Company" height="202" style="max-height: 63px;">
</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item">
            <a class="nav-item nav-link " href="/about">About</a>
            </li>
          <li class="nav-item">
                    <a class="nav-item nav-link " href="{{ site.base-url }}/our-work">Our work</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-item nav-link" href="{{ site.base-url }}/services">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-item nav-link" href="{{ site.base-url }}/news">News</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-item nav-link" href="{{ site.base-url }}/contact">Contact</a>
                  </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">

          <a href="/contact" class="btn btn-outline-success btn-bs">Request a quote</a>
        </form>
      </div>
    </nav>
</div>